.contact-menu {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}
.collapse-box {
    height: auto;
    border-bottom: 2px solid #fe8941;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
    transition: all .2s ease-in-out;
}
.collapse-box h3 {
    font-weight: normal;
    margin-right: 18px;
}
.contact-menu .collapse-box {
    width: 70%;
    position: relative;
    height: auto;
    padding: 0 10px;
}
.collapse-box .content a {
    text-decoration: none;
    color: #800080;
    font-weight: 800;
}
.collapse {
    cursor: pointer;
    border: none;
    border-bottom: #fe8941;
    background-color: transparent;
    text-align: left;
    outline: none;
    width: 100%;
}
.collapse:after {
    content: '\002B';
    font-size: 20px;
    position: absolute;
    color: black;
    right: 15px;
    top: 15px;
}
.active:after {
    content: '\2212';
    position: absolute;
    color: black;
    right: 15px;
    top: 15px;
}
.content {
    overflow: hidden;
    max-height: 0;
    padding: 0 10px;
    transition: max-height .2s ease-in-out;
}